p {
  color: black;
  text-align: center;
  font-style: initial;
}

.zoom {
  transition: 0.5s;
  font-size: inherit;
}

.alink:link {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

.alink:visited {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}

.alink:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
  transition: 0.5s;
}

.alink:active {
  color: brown;
  background-color: transparent;
  text-decoration: underline;
}

.imgbox {
  transition: all 0.5s;
  width: inherit;
  height: inherit;
  box-shadow: 0px 0px 25px lightblue;
}

.imgbox:hover {
  transform: scale(1.1);
}

.imgbox:hover+.zoom {
  padding-top: 1%;
  transform: scale(1.5);
}

@keyframes funni {
  0% {
    background-color: rgb(230, 110, 110);
  }

  25% {
    background-color: rgb(255, 213, 0);
  }

  50% {
    background-color: burlywood;
  }

  75% {
    background-color: chocolate;
  }

  100% {
    background-color: orange;
  }
}

.body {
  text-align: center;
  animation-name: funni;
  animation-duration: 100s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.calcButton {
  height: 50px;
  width: 50px;
  color: white;
  text-align: center;
  line-height: 50px;
  background-color: gray;
  border-radius: 50%;
  display: inline-block;
  font-size: large;
}

.calcButton0 {
  height: 50px;
  width: 100px;
  color: white;
  text-align: left;
  padding-inline: 18px;
  line-height: 50px;
  background-color: gray;
  border-radius: 50px;
  display: inline-block;
  font-size: large;
}

.calcbox {
  margin-inline: auto;
  max-width: max-content; 
  background-color: black;
  padding: 1%;
  border-radius: 15px;
}

.grid-container {
  display: grid;
  grid-template-columns: 50px 50px 50px 50px;
  grid-template-rows: auto auto auto auto;
  gap: 5px 5px;
}

.grid-item {
  display: inline-grid;
}