

p {
    color: black;
    text-align: center;
    font-style: initial;
    transition-property: width;
    transition-duration: 1s;
    transition-timing-function: linear;
}

a:link {
    color: black;
    background-color: transparent;
    text-decoration: underline;
  }
  a:visited {
    color: black;
    background-color: transparent;
    text-decoration: underline;
  }
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  a:active {
    color: brown;
    background-color: transparent;
    text-decoration: underline;
  }
#imgbox{
    box-shadow: 3px 4px lightblue;
}

@keyframes funni {
    0%   {background-color:rgb(230, 110, 110);}
    25%  {background-color:rgb(255, 213, 0);}
    50%  {background-color:burlywood;}
    75%  {background-color:chocolate;}
    100% {background-color:orange;}
}
.body{
    text-align: center;
    animation-name: funni;
    animation-duration: 100s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    padding: 3%;
}


